@import url('https://fonts.cdnfonts.com/css/gotham-rounded');

body {
  margin: 0;
  font-family: 'Gotham Rounded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00C4E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
